:root {
  --primary: #252b48;
  --bg: #445069;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: aliceblue;
  min-height: 2000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: rgba(22, 22, 22, 0.8);
  border-bottom: 2px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .Navbar-logo {
  font-size: 1.5rem;
  font-weight: 100;
  color: aliceblue;
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
}

.navbar .Navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: aliceblue;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.4rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  color: rgb(255, 250, 250);
  text-align: start;
  padding: 1.3rem 7%;
  max-width: 60rem;
}

/* media queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
}
/* Hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
