:root {
  --primary: #291f4de8;
  --bg: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: rgba(22, 22, 22, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .Navbar-logo {
  font-size: 1.5rem;
  font-weight: 100;
  color: aliceblue;
  word-spacing: 0.5rem;
}

.navbar .Navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: aliceblue;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.4rem;
}
